In [ ]:
import pandas as pd
# William DataCleaning and Data Processing

In [ ]:
df = pd.read_csv("10YearPeriodHIV.csv")
df.describe()

,Period2011,ART coverage 2011,Death by HIV 2011,People with HIV 2011,Total Population 2011,Period2012,ART coverage 2012,Death by HIV 2012,People with HIV 2012,Total Population 2012,...,Period2020,ART coverage 2020,Death by HIV 2020,People with HIV 2020,Total Population 2020,Period2021,ART coverage 2021,Death by HIV 2021,People with HIV 2021,Total Population 2021
count,75.0,75.000000,75.000000,7.500000e+01,7.500000e+01,75.0,75.000000,75.000000,7.500000e+01,7.500000e+01,...,75.0,75.000000,75.000000,7.500000e+01,7.500000e+01,75.0,75.000000,75.00000,7.500000e+01,7.500000e+01
mean,2011.0,30.573333,5313.600000,1.448752e+05,1.545406e+07,2012.0,33.760000,4877.866667,1.461043e+05,1.571479e+07,...,2020.0,63.320000,2993.466667,1.624939e+05,1.795832e+07,2021.0,65.760000,2820.40000,1.635845e+05,1.824655e+07
std,0.0,16.724455,11284.648941,3.073701e+05,2.820656e+07,0.0,16.984763,10035.415031,3.081409e+05,2.857334e+07,...,0.0,18.855181,5473.593734,3.380795e+05,3.160016e+07,0.0,18.629271,5175.04627,3.391907e+05,3.197103e+07
min,2011.0,2.000000,100.000000,2.000000e+02,2.829870e+05,2012.0,2.000000,100.000000,2.000000e+02,2.836980e+05,...,2020.0,11.000000,100.000000,2.000000e+02,2.873710e+05,2021.0,10.000000,100.00000,2.000000e+02,2.877080e+05
25%,2011.0,19.000000,100.000000,3.150000e+03,2.463528e+06,2012.0,22.000000,100.000000,3.300000e+03,2.510388e+06,...,2020.0,50.500000,100.000000,3.600000e+03,2.859454e+06,2021.0,55.000000,100.00000,3.600000e+03,2.871095e+06
50%,2011.0,27.000000,500.000000,1.500000e+04,7.697507e+06,2012.0,32.000000,500.000000,1.600000e+04,7.874838e+06,...,2020.0,63.000000,500.000000,2.000000e+04,8.636561e+06,2021.0,66.000000,500.00000,2.100000e+04,8.697723e+06
75%,2011.0,40.000000,4600.000000,1.100000e+05,1.523836e+07,2012.0,45.000000,4250.000000,1.100000e+05,1.568775e+07,...,2020.0,77.500000,2600.000000,1.100000e+05,1.856981e+07,2021.0,78.500000,2500.00000,1.100000e+05,1.896162e+07
max,2011.0,93.000000,51000.000000,1.400000e+06,1.975145e+08,2012.0,92.000000,44000.000000,1.400000e+06,1.992873e+08,...,2020.0,98.000000,22000.000000,1.400000e+06,2.125594e+08,2021.0,98.000000,22000.00000,1.400000e+06,2.139934e+08

In [ ]:
df[['Death by HIV 2011','Death by HIV 2012','Death by HIV 2013','Death by HIV 2014'
,'Death by HIV 2015','Death by HIV 2016','Death by HIV 2017','Death by HIV 2018'
,'Death by HIV 2019','Death by HIV 2020','Death by HIV 2021']].mean()

Death by HIV 2011    5313.600000
Death by HIV 2012    4877.866667
Death by HIV 2013    4498.800000
Death by HIV 2014    4259.600000
Death by HIV 2015    4071.600000
Death by HIV 2016    3802.266667
Death by HIV 2017    3586.266667
Death by HIV 2018    3408.533333
Death by HIV 2019    3191.066667
Death by HIV 2020    2993.466667
Death by HIV 2021    2820.400000
dtype: float64

In [ ]:
Period = [2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021]
ART_mean = [30.573,33.760,37.080,40.480,44.253,48.520,52,880,56.826,60.988,63.320,65.760]
Death_mean = [5313.60,4877.866,4498.6,4259.6,4071.6,3802.266,3586.266667,3408.533,3191.066,2993.466,2820.400]
HIVpopulation_mean = [144875.2,146104.266,149145.466,152060.667,152944.667,155563.333,158205.333,159001.200,161396.667,162493.867,163584.533]
Population_mean = [1.545406e+07, 1.571479e+07,1.598028e+07,1.625111e+07,1.652648e+07,1.680744e+07,1.709227e+07,1.737977e+07,1.766863e+07,1.795832e+07,1.824655e+07]

In [ ]:
dff = pd.DataFrame(list(zip(Period,ART_mean,Death_mean,HIVpopulation_mean,Population_mean)),
               columns =['Period','ART_mean','Death_mean','HIVpopulation_mean','Population_mean'])

In [ ]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Period              11 non-null     int64
 1   ART_mean            11 non-null     float64
 2   Death_mean          11 non-null     float64
 3   HIVpopulation_mean  11 non-null     float64
 4   Population_mean     11 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 568.0 bytes

In [ ]:
# SAVING THE DESCRIBE TO A CSV FILE
# Saving the file and rename it
n = '10YearPeriodHIV-describe.csv'
dff.to_csv(n, index=False)
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Period              11 non-null     int64
 1   ART_mean            11 non-null     float64
 2   Death_mean          11 non-null     float64
 3   HIVpopulation_mean  11 non-null     float64
 4   Population_mean     11 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 568.0 bytes